body {
  color: black;
  background-image:url(https://images.unsplash.com/photo-1458571037713-913d8b481dc6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ea44e41f0b18d77930e5b15992a5cc15);
  background-size: cover;

}

.fa {
  color: rgb(56, 56, 56);
}

.card {
    background-color: white;
    width: 400px;
    margin-top: 40px;
    font-size: 65%;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;;
    color: rgb(56,56,56);
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(56, 56, 56);

}

